@font-face {
  font-family: "StarJedi";
  src: local("StarJedi"),
    url("../src/fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
}
